<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Sites</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.SitesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sites</servlet-name>
    <url-pattern>/sites</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Results</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Signin</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ValidationInscription</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ValidationInscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationInscription</servlet-name>
    <url-pattern>/validation_inscription</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ValidationConnection</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ValidationConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationConnection</servlet-name>
    <url-pattern>/validation_connection</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OneSite</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.OneSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneSite</servlet-name>
    <url-pattern>/one_site</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddSite</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.AddSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSite</servlet-name>
    <url-pattern>/add_site</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InsertSite</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.InsertSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSite</servlet-name>
    <url-pattern>/insert_site</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InsertComment</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.InsertCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertComment</servlet-name>
    <url-pattern>/insert_comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeOfficial</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.MakeOfficialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeOfficial</servlet-name>
    <url-pattern>/make_official</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeUnofficial</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.MakeUnofficialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeUnofficial</servlet-name>
    <url-pattern>/make_unofficial</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ModifyComment</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ModifyCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyComment</servlet-name>
    <url-pattern>/modify_comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/update_comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/delete_comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterTopo</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.RegisterTopoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTopo</servlet-name>
    <url-pattern>/register_topo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InsertTopo</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.InsertTopoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTopo</servlet-name>
    <url-pattern>/insert_topo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Topos</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ToposServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Topos</servlet-name>
    <url-pattern>/topos</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Accept</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.AcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accept</servlet-name>
    <url-pattern>/accept</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeAvailable</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.MakeAvailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAvailable</servlet-name>
    <url-pattern>/make_available</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeUnavailable</servlet-name>
    <servlet-class>org.projet6.escalade.webapp.servlets.MakeUnavailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeUnavailable</servlet-name>
    <url-pattern>/make_unavailable</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
    <jsp-property-group>
      <description>Config. de l'encodage des pages JSP</description>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

</web-app>
