.content {
    margin-top: 101px;
}

label[for="search"] {
    font-weight: bold;
}

.form-search {
    width: 250px;
    margin: auto;
    text-align: center;
}

.list-sites td, .site-table td {
    vertical-align: middle;
    text-align: right;
}

.list-sites li, .site-table li {
    list-style: none;
}

.input-required
{
    color: #F00;
    font-weight: bold;
}

.column-table-link {
    flex-direction: column;
    margin: 20px;
}



@media all and (max-width: 991px) {
    .fixed-top {
        position: static;
    }
    .content {
        margin-top: 0px;
    }
}